/*****************
 * MOBILE FIRST  *
*****************/

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*LAYOUT*/

body {
    display: flex;
    height: 100vh;
}

.container {
    max-width: 100%;
    
 }
 
 .row {
     display: flex;
 }

 .messaggi {
    flex-grow: 1;
    background-color: aqua;
     border: 1px solid black;
     
 }

 .contatti {
    display: none;
    flex-shrink: 0;
    border: 1px solid black;
    background-color: red;
 }

 
 .col {
     width: 100%;
     /*height: 300px;*/
     border: 1px solid black;
     background-color: var(--primary-color);
 }

 .mex {
   /* height: 100px;*/
    border: 1px solid black;
}
/*VARIABLES*/

:root {

    --primary-color: #eaeaea;
    --body-top-color: #009688;
    --body-main-color: #d7dbd5;
   
}

img {
    max-width: 100%;
}

/*UTILITIES*/

.round {
    border-radius: 30%;
}

.flex {
    display: flex;
}

.min-height {
    min-height: 1200px;
}
    .display-none {
        display: none;
    }
/*CONTENT*/

.avatar {
    flex-shrink: 0;
    margin-right: 2rem;
}

.avatar img {
    width: 100px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.mex-bg {
    background-image: url(../img/mine.jpg);
}

.rounded-card {
    width: 70%;
}

/*  MEDIA QUARY */
/*tablet*/
@media screen and (min-width: 768px) {

    .container {
        display: flex;
    }
        
    .contatti {
        display: block;
    }

   
    
    .excp {
        display: inline-block;
        width: 50%;
    }
    
}

@media screen and (min-width: 992px) {
    
   body {
    background: linear-gradient(  #009688 0%,  #009688 40%, #d7dbd5 40% );
    background-repeat: no-repeat;
   }

   .container {
    width: 80%;
    height: 90%;
    margin: auto;
   }

   .contatti {
    width: 350px;
   }

  
   
}

