/*****************
 * MOBILE FIRST  *
*****************/

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}



/*COMMON*/

body {
    height: 100vh;
    display: flex;
}

.container {
    display: flex;
    background-color: lightblue;
    width: 100%;
}
/*LAYOUT*/
.sidebar {
    display: none;
    background-color: chartreuse;
}

.content {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
}

header {
    background-color: var(--color-gray);
    height: 70px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
}

.conversation {
    height: calc(100% - 140px);
    overflow-y: auto;
}

footer.message {
    background-color: var(--message-bg);
    height: 70px;
    flex-shrink: 0;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.icone-content {
    display: none;
 }


/*STYLES*/

:root {
    --background-top: #009588;
    --background-main: #d9dbd7;
    --color-gray: #eaeaea;
    --notification-bg: #8fdafc;
    --search-bg: #fafafa;
    --chat-bg: #ffffff;
    --message-bg: #f3eeeb;
    --icone-header: #b1b1b1;
}

header i {
    padding: 8px;
}

.profile-name {
    padding-left: 10px;
}
/*CONTENT*/

/*sidebar,header*/

.profilo img {
 width: 50px;  
 height: 50px; 
 border-radius: 50%;
}




/* Media Queries */

/*tablet*/

@media screen and (min-width: 768px) {
    body {
        background-color: cadetblue;
    }

    .container{
        
    }

    .sidebar{
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .notification {
       display: none;
    }

    .search {
       display: none;
    }

    .chats {
        background-color: var(--chat-bg);
        overflow-y: auto;
    }

     .icone {
        display: none;
     }

     .icone-content {
        display: block;
        color: var(--icone-header);
     }

}

/*desktop*/

@media screen and (min-width: 992px) {
    body {
        background: linear-gradient( 0deg, var(--background-main) 70%, var(--background-top) 30%)
    } 

    .container {
        width: 80%;
        height: 90%;
        margin: auto;
    }

    .sidebar {
        width: 350px;
    }

    .notification {
        display: block;
         background-color: var(--notification-bg);
     }
 
     .search {
        display: block;
         background-color: var(--search-bg);
     }

     .icone {
        display: block;
        color: var(--icone-header);
     }

     
}
